
        <!-- begin terms  -->
        <div class="terms">
            <div class="container">
                <div class="terms-body">
                   <h2 class="terms-body__tittle tittle-section">
                       <span><img src="http://res.cloudinary.com/alexcloudi/image/upload/v1528616096/grape/icon/six_gran.png" alt="six face"></span>
                       <a href="#" ng-click="tagClick(termin.name, termin.id)">{{termin.name}}</a>
                       <span><img src="http://res.cloudinary.com/alexcloudi/image/upload/v1528616096/grape/icon/six_gran.png" alt="six face"></span>
                   </h2>
                   <ul class="terms-body__items terms-items">                
                       <li class="terms-items__fun terms-fun">
                           <a href="#" ng-click="articleClick(termStart[0].name, termStart[0].id)">
                               <img src="http://res.cloudinary.com/alexcloudi/image/upload/v1528616718/grape/letter_icon/А.png" alt="grape">
                               <h3 class="terms-fun__tittle">{{termStart[0].name}}</h3>
                               <div class="terms-fun__text">
                                   <p>
                                       (лат. absorptio) поглощение веще­ства из газовой смеси жидкостью во всем объеме поглотителя. А. лежит в основе ряда технологич. приемов винодельч. произ-ва. 
                                   </p>
                                   <p>
                                       Большую роль играет А., а также десорбция сернистого ангидрида, исполь­зуемого в в-делии и соковом произ-ве как антисеп­тик и антиоксидант. А. и десорбция углекислого газа вином — основные процессы произ-ва игристых и шипучих вин. ...
                                   </p>
                               </div>
                           </a>
                       </li>                               
                       <li class="terms-items__fun terms-fun">
                           <a href="#" ng-click="articleClick(termStart[1].name, termStart[1].id)">
                               <img src="http://res.cloudinary.com/alexcloudi/image/upload/v1528616718/grape/letter_icon/О.png" alt="">
                               <h3 class="terms-fun__tittle">{{termStart[1].name}}</h3>
                               <div class="terms-fun__text">
                                       <p>
                                       винограда (от греч. homos — оди­ наковый и onyma — имя), разные сорта в-да, имеющие одно и то же название. 
                                   </p>
                                   <p>
                                       Появление О.объясняется тем, что нередко название сортам в-да дается произвольно, по наиболее выразительным внешним признакам, напр., по окраске, форме или величине ягоды. ...
                                   </p>
                               </div>
                           </a>
                       </li>
                       <li class="terms-items__fun terms-fun">
                          <a href="#" ng-click="articleClick(termStart[2].name, termStart[2].id)">
                               <img src="http://res.cloudinary.com/alexcloudi/image/upload/v1528616718/grape/letter_icon/П.png" alt="">
                               <h3 class="terms-fun__tittle">{{termStart[2].name}}</h3>
                               <div class="terms-fun__text">
                                   <p>
                                       привиты х черенков, са­женцев, технологич. прием, состоящий в частичном их покрытии тонкой пленкой парафина (антитран-спиранта) с целью защиты от подсыхания. 
                                   </p>
                                   <p>
                                       Приви­тые черенки, прошедшие стратификацию в опилках, парафинируют перед высадкой в школку: после сор­тировки их (вместе с зеленым приростом) верхними концами на длину 16—18 см погружают на долю секунды в расплавленный парафин, температура к-рого 75—85°С ...
                                   </p>
                               </div>
                          </a>
                       </li>
                   </ul>
                </div>
            </div>
        </div>
        <!-- end terms  -->
        <!-- begin sorts  -->
        <div class="sorts">
            <div class="container">
                <div class="sorts-body">
                    <h2 class="sorts-body__tittle tittle-section">
                        <span><img src="http://res.cloudinary.com/alexcloudi/image/upload/v1528616096/grape/icon/six_gran.png" alt="six face"></span>
                        <a href="#" ng-click="tagClick(grades.name, grades.id)">{{grades.name}}</a>
                        <span><img src="http://res.cloudinary.com/alexcloudi/image/upload/v1528616096/grape/icon/six_gran.png" alt="six face"></span>
                    </h2>
                    <div class="sorts-body__items sorts-items">
                        <section class="sorts-items__item sorts-item">
                            <a href="#" class="sorts-item__link sorts-link" ng-click="articleClick(sortStart[0].name, sortStart[0].id)">
                                <div class="sorts-link__img">
                                    <img src="http://res.cloudinary.com/alexcloudi/image/upload/v1528617338/grape/sorts/flora1.jpg" alt="">
                                </div>                        
                                <h3 class="sorts-link__tittle">{{sortStart[0].name}}</h3>
                                <p class="sorts-link__desc">СВЕРХРАННИЙ</p>
                            </a>
                        </section>
                        <section class="sorts-items__item sorts-item">
                            <a href="#" class="sorts-item__link sorts-link" ng-click="articleClick(sortStart[1].name, sortStart[1].id)">
                                <div class="sorts-link__img">
                                    <img src="http://res.cloudinary.com/alexcloudi/image/upload/v1528617338/grape/sorts/preobrgenie3.jpg" alt="">                            
                                </div>
                                <h3 class="sorts-link__tittle">{{sortStart[1].name}}</h3>
                                <p class="sorts-link__desc">СВЕРХРАННИЙ</p>
                            </a>
                        </section>
                        <section class="sorts-items__item sorts-item">
                            <a href="#" class="sorts-item__link sorts-link" ng-click="articleClick(sortStart[2].name, sortStart[2].id)">
                                <div class="sorts-link__img">                                
                                    <img src="http://res.cloudinary.com/alexcloudi/image/upload/v1528617338/grape/sorts/slavyta1.JPG" alt="">
                                </div>
                                <h3 class="sorts-link__tittle">{{sortStart[2].name}}</h3>
                                <p class="sorts-link__desc">РАННЕ-СРЕДНИЙ</p>
                            </a>
                        </section>
                        <!-- <ol class="flickity-page-dots">
                            <li class="dot is-selected"></li>
                            <li class="dot"></li>
                            <li class="dot"></li>
                        </ol> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- end sorts  -->
        <!-- begin person  -->
        <div class="person">
            <div class="container">
                <div class="person-body">
                    <h2 class="person-body__tittle tittle-section">
                        <span><img src="http://res.cloudinary.com/alexcloudi/image/upload/v1528616096/grape/icon/six_gran.png" alt="six face"></span>
                        <a href="#" ng-click="tagClick(personality.name, personality.id)">{{personality.name}}</a>
                        <span><img src="http://res.cloudinary.com/alexcloudi/image/upload/v1528616096/grape/icon/six_gran.png" alt="six face"></span>
                    </h2>
                    <div class="person-body__items person-items">
                        <section class="person-items__fun person-fun">
                            <a href="#" ng-click="articleClick(personStart[0].name, personStart[0].id)">
                                <div class="person-fun__img">
                                    <img src="http://res.cloudinary.com/alexcloudi/image/upload/v1528617148/grape/person/Авакян.jpg" alt="АВАКЯН Борис Петрович">
                                </div>
                                <div class="person-fun__sub person-sub">
                                    <span class="person-sub__name">{{personStart[0].name}}</span>
                                    <p>{{personStart[0].description}}</p>
                                </div>
                            </a>
                        </section>
                        <section class="person-items__fun person-fun">
                            <a href="#" ng-click="articleClick(personStart[1].name, personStart[1].id)">
                                <div class="person-fun__img">
                                    <img src="http://res.cloudinary.com/alexcloudi/image/upload/v1528617148/grape/person/Skurihin.jpg" alt="СКУРИХИН Игорь Михайлович">
                                </div>
                                <div class="person-fun__sub person-sub">
                                    <span class="person-sub__name">{{personStart[1].name}}</span>
                                    <p>{{personStart[1].description}}</p>
                                </div>                        
                            </a>
                        </section>
                        <section class="person-items__fun person-fun">
                            <a href="#" ng-click="articleClick(personStart[2].name, personStart[2].id)">
                                <div class="person-fun__img">
                                    <img src="http://res.cloudinary.com/alexcloudi/image/upload/v1528617148/grape/person/Александр_Негруль.jpg" alt="Александр Михайлович Негруль">
                                </div>
                                <div class="person-fun__sub person-sub">
                                    <span class="person-sub__name">{{personStart[2].name}}</span>
                                    <p>{{personStart[2].description}}</p>
                                </div>                        
                            </a>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <!-- end person  -->
        <!-- begin articles  -->
        <div class="articles">
            <div class="wrapper">
                <div class="articles-body">
                    <h2 class="articles-body__tittle tittle-section">
                        <span><img src="http://res.cloudinary.com/alexcloudi/image/upload/v1528616096/grape/icon/six_gran.png" alt="six face"></span>
                        <a href="#">Статьи</a>
                        <span><img src="http://res.cloudinary.com/alexcloudi/image/upload/v1528616096/grape/icon/six_gran.png" alt="six face"></span>
                    </h2>
                    <div class="articles-body__slideshow slideshow">
                        <div class="slideshow-left">
                            <div class="slideshow-left__item left-item">
                                <a href="#" class="left-item__icon left-icon" ng-click="letterClick('А')">
                                    <img src="http://res.cloudinary.com/alexcloudi/image/upload/v1528616718/grape/letter_icon/А.png" alt="А">
                                </a>
                            </div>
                            <div class="slideshow-left__item left-item">
                                <a href="#" class="left-item__icon left-icon" ng-click="letterClick('Б')">
                                    <img src="http://res.cloudinary.com/alexcloudi/image/upload/v1528616718/grape/letter_icon/Б.png" alt="Б">
                                </a> 
                            </div>
                            <div class="slideshow-left__item left-item">                        
                                <a href="#" class="left-item__icon left-icon" ng-click="letterClick('В')">
                                    <img src="http://res.cloudinary.com/alexcloudi/image/upload/v1528616718/grape/letter_icon/В.png" alt="В">
                                </a> 
                            </div>
                        </div>
                        <div class="slideshow-right">
                            <div class="slideshow-right__item right-item">                        
                                <div class="right-item__sub right-sub">
                                    <a href="#" ng-click="articleClick(articlStart[0].name, articlStart[0].id)">
                                        <span class="right-sub__name">{{articlStart[0].name}}</span>
                                        <p>
                                            {{articlStart[0].description}}   
                                        </p>
                                    </a>
                                </div>
                            </div>
                            <div class="slideshow-right__item right-item"> 
                                <div class="right-item__sub right-sub">
                                    <a href="#" ng-click="articleClick(articlStart[1].name, articlStart[1].id)">                                
                                        <span class="right-sub__name">{{articlStart[1].name}}</span>
                                        <p>
                                            {{articlStart[1].description}}   
                                        </p>
                                    </a>
                                </div>
                            </div>
                            <div class="slideshow-right__item right-item">
                                <div class="right-item__sub right-sub">
                                    <a href="#" ng-click="articleClick(articlStart[2].name, articlStart[2].id)">
                                        <span class="right-sub__name">{{articlStart[2].name}}</span>
                                        <p>
                                            {{articlStart[2].description}}    
                                        </p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="slideshow-control">
                            <div class="slideshow-control__top control-top">
                                <div class="control-top__icon">
                                    <img src="http://res.cloudinary.com/alexcloudi/image/upload/v1528616096/grape/icon/up.png" alt="UP">
                                </div>
                            </div>
                            <div class="slideshow-control__bottom control-bottom">
                                <div class="control-top__icon">
                                    <img src="http://res.cloudinary.com/alexcloudi/image/upload/v1528616096/grape/icon/down.png" alt="Down">
                                </div>                        
                            </div>
                        </div>
                    </div>
                </div>        
            </div>
        </div>
        <!-- end articles  -->
        <link rel="stylesheet" href="css/libs.min.css">
        <link rel="stylesheet" href="css/main.min.css">

        