
<div class="container">
    <div class="tag">
        <div class="tag-body">
            <div class="tag-body__name">
                <h2>{{tagAct}}</h2>
            </div>
            <div class="tag-body__articles">
                <ul class="tag-articles">
                    <li class="tag-articles__item tag-item" ng-repeat="article in articlesByTag">
                        <a href="#" class="tag-item__link tag-link" ng-click="articleClick(article.name, article.id)">
                            <h4 class="tag-link__name">{{article.name}}</h4>
                            <p class="tag-link__text">{{article.description}}</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>